<!-- ContactUs Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>مطالبات السيارات</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content Options -->
<ion-content id="contactus-v1">
  <div class="contact-header">
    <p class="line1">تفاصيل المطالبات</p>
  </div>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated fadeIn">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-document"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.policyNo" formControlName="policyNo" id="policyNo"
            spellcheck="false" autocapitalize="off" type="text" placeholder="رقم الوثيقة"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('policyNo')" danger padding-left>خطأ في الإدخال</span>
        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="ios-car"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.plateNo" formControlName="plateNo" id="plateNo"
            spellcheck="false" autocapitalize="off" type="text" placeholder="رقم لوحة السيارة"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('plateNo')" danger padding-left>خطأ في الإدخال</span>
        <!-- Messages -->
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="submit" [disabled]="!myForm.valid" color="secondary" block>تسجيل الدخول</button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
