#products-v1 {
    .title {
        color: #444;
        font-family: "sans-serif";
        font-weight: 500;
        line-height: 1.6;
        margin: 0 0 0.5em;
        text-align: center;
        font-size: 2.13333em;
    }
    ion-slides {
        height: auto;
    }
    ion-card{
      position:static;
      top:0;
    }
}
