<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton drag-content="false">
    <ion-title>منتجاتنا</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Content Options -->
<ion-content id="contactus-v1">
  <ion-list>
    <ion-item>
      <ion-avatar item-end>
        <img src="assets/img/chicken.jpg">
      </ion-avatar>
      <h2>200 جرام</h2>
      <h2>السعر: 13 ريال</h2>
      <h1 style="padding-top:10px;">
        الكمية:
        <ion-icon color="secondary" name="remove-circle" (click)="decrement()"></ion-icon>
        <strong style="padding:10px;">{{currentNumber}}</strong>
        <ion-icon color="secondary" name="add-circle" (click)="increment()"></ion-icon>
      </h1>
      <h1 style="padding-top:10px;" color="secondary">
        الإجمالي: {{currentnumberfinal}} ريال
      </h1>
    </ion-item>
    <ion-item>
      <ion-avatar item-end>
        <img src="assets/img/chicken.jpg">
      </ion-avatar>
      <h2>800 جرام</h2>
      <h2>السعر: 40 ريال</h2>
      <h1 style="padding-top:10px;">
        الكمية:
        <ion-icon color="secondary" name="remove-circle" (click)="decrement1()"></ion-icon>
        <strong style="padding:10px;">{{currentNumber1}}</strong>
        <ion-icon color="secondary" name="add-circle" (click)="increment1()"></ion-icon>

      </h1>
      <h1 style="padding-top:10px;" color="secondary">
        الإجمالي: {{currentnumberfinal1}} ريال
      </h1>
    </ion-item>
    <ion-item>
      <ion-avatar item-end>
        <img src="assets/img/chicken.jpg">
      </ion-avatar>
      <h2>1800 جرام</h2>
      <h2>السعر: 120 ريال</h2>
      <h1 style="padding-top:10px;">
        الكمية:
        <ion-icon color="secondary" name="remove-circle" (click)="decrement2()"></ion-icon>
        <strong style="padding:10px;">{{currentNumber2}}</strong>
        <ion-icon color="secondary" name="add-circle" (click)="increment2()"></ion-icon>

      </h1>
      <h1 style="padding-top:10px;" >
        الإجمالي: {{currentnumberfinal2}} ريال
      </h1>
    </ion-item>
  </ion-list>
 <h2>مجموع الإجمالي: <strong style="color:rgb(6, 128, 67);" >{{GrandTotal}} ريال</strong> </h2>
  <button ion-button full  color="whatsapp">ارسال طلب</button>

</ion-content>
