.toasty {
  background-color: #134885 !important;
}
#contactus-v1 {
  .center{
    width: 150px;
      margin: 40px auto;

    }
  text-align: center;
  padding-top: 5%;
  .block {
    position: relative;
    .deleteIcon {
      position: absolute !important;
      color: #ffffff !important;
      margin-left: 80% !important;
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
  }
  .contact-header {
    .line1 {
      color: tomato;
      font-size: 22px;
      font-weight: 600;
    }
    .address {
      p {
        font-size: 14px;
        line-height: 0px;
      }
      .unstyled {
        list-style: none;
      }
    }
  }
  .contact-form {
    p {
      font-size: 20px;
    }
    form {
      ion-list {
        margin-bottom: 0px;
        ion-grid {
          ion-row {
            ion-col {
              .block {
                position: relative;
                .deleteIcon {
                  position: absolute !important;
                  color: #ffffff !important;
                  margin-left: 80% !important;
                }
                .deleteIcon:before {
                  font-size: 30px !important;
                }
              }
            }
          }
        }
        .item-input {
          ion-label {
            color: $menu-toolbar;
            margin-left: 10px;
          }
        }
        ion-item {
          padding-left: 0;
          .text-input-ios {
            padding: 12px;
          }
        }
        .buttons {
          margin-top: 5%;
        }
      }
    }
  }
}
