ion-card{
  ion-card-content{
    direction: rtl;
  }
}
.category-v1 {
  height: 100%;
  ion-row {
    padding-top: 10px;
    height: 100%;
    ion-col {
      height: 30%;
      text-align: center;
      img {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        border: 1px solid $menu-toolbar;
      }
      p {
        line-height: 0;
      }
    }
  }
}
