<!-- Registration Page -->

<!-- Header Options -->
<ion-header>
</ion-header>
<!-- Content Options -->
<ion-content id="component-v1" class="animated fadein" style="background-color:rgb(255, 251, 193);">

  <div style="text-align:center; padding:50px;" class="animated fadeInRight">
    <img src="assets/img/hail-trans.PNG" />
  </div>


  <ion-row style="text-align:center; padding-top:60px;">
    <ion-col col-6 class="animated fadeInLeft col2">
        <button ion-button (click)="gotoTargetComponent('DriverLogin')" class="button icon icon-left ion-lock" large>تسجيل موظفين</button>
    </ion-col>
    <ion-col col-6 class="animated fadeInLeft col2">
        <button ion-button (click)="gotoTargetComponent('CustomerLogin')" class="button icon icon-left ion-lock" large>تسجيل زبون</button>
    </ion-col>
  </ion-row>

</ion-content>
