#component-v1 {
  .splash-bg {
    position: relative;
    background: url('../assets/img/chicken.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
  ion-icon {
    padding: 10px;
    font-size: 1.7em;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/chicken.png') repeat transparent;
    background-size: 100%;
    background-color: #fff;
    border-radius: 80px 80px 0px 0px;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  ion-grid {

    ion-row {
      .col1 {
        background-color: #3b6ba1;
        border: 1px ridge rgb(255, 255, 255);
        text-align: center;
        ion-icon {
          padding: 20px;
          color: rgb(253, 253, 253);
          font-size: 1.7em;
          line-height: 0;
        }
        p {
          line-height: 0;
          color: rgb(255, 255, 255);
          font-size: 14px;
          font-weight: 1px;
        }
      }
      .col2 {
        background-color: #3b6ba1;
        border: 1px ridge rgb(255, 255, 255);
        text-align: center;
        ion-icon {
          padding: 20px;
          color: rgb(255, 255, 255);
          font-size: 1.7em;
          line-height: 0;
        }
        p {
          line-height: 0;
          color: rgb(255, 255, 255);
          font-size: 14px;
          font-weight: 1px;
        }
      }
    }
  }
}
