<!-- ContactUs Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content Options -->
<ion-content id="contactus-v1">
  <div class="contact-header">
    <p class="line1">تسجيل موظفين</p>
  </div>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated fadeIn">
    <form [formGroup]="myForm">
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.policyNo" formControlName="policyNo" id="policyNo"
            spellcheck="false" autocapitalize="off" type="text" placeholder="البريد الإلكتروني"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('policyNo')" danger padding-left>خطأ في الإدخال</span>
        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="ios-key"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.plateNo" formControlName="plateNo" id="plateNo"
            spellcheck="false" autocapitalize="off" type="password" placeholder="كلمة المرور"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('plateNo')" danger padding-left>خطأ في الإدخال</span>
        <!-- Messages -->
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button [disabled]="!myForm.valid" (click)="gotoTargetComponent('Driver-Portal')" color="secondary" block>تسجيل الدخول</button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
