<ion-tabs #myTabs>
  <ion-tab [root]="policyRoot" tabTitle="طلباتي" tabIcon="md-filing"></ion-tab>
  <ion-tab [root]="newClaimRoot" tabTitle="تقديم طلب" tabIcon="ios-paper-outline"></ion-tab>
  <ion-tab [root]="userClaimRoot" tabTitle="الشكاوي و المقترحات" tabIcon="information-circle"></ion-tab>
  <ion-tab (ionSelect)="CloseApp()" tabTitle="إغلاق" tabIcon="close-circle"></ion-tab>
</ion-tabs>
