#contactus-v1 {
  table {
    text-align: right;
    border-collapse: collapse;
    width: 100%;
}
.segment-button {
  font-size: 15px;
}
.cards{
  padding-top: 15px;
}
ion-badge{
.strong{
color: black;
font-size: 14px;

}
}
td, th {
    text-align: right;
    padding: 8px;
    height: 30px;
    font-size: 16px;
}
.header .col {
    background-color:rgb(207, 207, 207);
    height: 45px;
}

.col {
    border: 0px rgb(207, 207, 207);
    height: 45px;
}

.col:last-child {
    border-right: 0px rgb(207, 207, 207);
}

.row:last-child .col {
    border-bottom: 0px rgb(207, 207, 207);
}
}
