<!-- Aboutus Page -->

<!-- Header options-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>من نحن</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content Options -->
<ion-content id="aboutus-v1">

  <!-- Content header title (Start)-->
  <ion-card>
      <img src="assets/img/krt1.jpg"/>
      <div class="card-title">عن الشركة</div>
    </ion-card>
  <!-- Content header title (End)-->

  <!-- Short description (Start)-->
  <ion-card>
    <ion-card-content>
      تأسست شركة النيلين للتأمين المحدودة فى العام 1981 م برأس مال سودانى بريطانى (JointVenture) بنسبة مساهمات قدرها 60 % للمكون
      المحلى و 40 % للمكون البريطانى وقد قام بتأسيسها المرحوم مأمون بحيرى الإقتصادى السودانى المعروف بمعية نخبة من الإقتصاديين
      السودانيين وكوكبة من رجال الأعمال المرموقين.
      <br> وبموجب هذه الشراكة وضع أساسها الفنى خبراء بريطانيون ظلوا على قمة الجهاز الفنى لمدة سبعة سنوات
      <br> .ظلت شركة النيلين للتأمين منذ تأسيسها وحتى الآن تقدم خدماتها لعملائها بصورة مرضية نالت إستحسان كل من تعامل معها طيلة
      هذه الفترة

    </ion-card-content>
  </ion-card>
  <!-- Short description (End)-->
  <div>
    <img src="assets/img/About1.png" />
  </div>
  <!-- Segment (Start)-->
  <!-- Segment for more details of about us. Here, Added three portan design, developmemt and support -->

  <!-- Segment Header -->
  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="design" segment-button-ios-font-size="4">
        المصداقية
      </ion-segment-button>
      <ion-segment-button value="development">
        الإتقان
      </ion-segment-button>
      <ion-segment-button value="support">
        الإبتكار
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Segment Body -->
  <div [ngSwitch]="segment">

    <!-- Design Portion -->
    <ion-card *ngSwitchCase="'design'">
      <ion-card-header>
        <ion-icon name="flower"></ion-icon>
        <br> المصداقية
      </ion-card-header>
      <ion-card-content>
        في الوفاء بالإلتزامات وسداد المطالبات
      </ion-card-content>
    </ion-card>

    <!-- Development Portion -->
    <ion-card *ngSwitchCase="'development'">
      <ion-card-header>
        <ion-icon name="md-checkmark-circle"></ion-icon>
        <br> الإتقان
      </ion-card-header>
      <ion-card-content>
        بتجويد خدماتنا وتقديم خدمات متكامله وسريعه
      </ion-card-content>
    </ion-card>
    <hr>
    <!-- Support Portion -->
    <ion-card *ngSwitchCase="'support'">
      <ion-card-header>
        <ion-icon name="md-cube"></ion-icon>
        <br> الإبتكار
      </ion-card-header>
      <ion-card-content>
        نسعي بتوفير خدمات مستحدثه تلبي الإحتياجات المتجدده للعملاء تفوق توقعاته
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Segment (End) -->
  <!-- What People Say (Start) -->
  <ion-card>
    <ion-card-header>
      قالوا عن الشركة
    </ion-card-header>
    <ion-card-content>
      الاهتمام بالعميل وتلبيه كافه رغباته وحاجاته التأمنية و السرعة في تقديم الخدمة التأمينية وسداد المطالبات.
    </ion-card-content>

  </ion-card>
  <!-- What People Say (End) -->

</ion-content>
