<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton>
    <ion-title start>معلوماتي</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
          <ion-avatar item-end>
            <img src="assets/img/chicken.jpg">
          </ion-avatar>
          <h2>800 جرام</h2>
          <h2>الكمية: 40</h2>
          <p>السعر: 480 ريال</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-end>
              <img src="assets/img/chicken.jpg">
            </ion-avatar>
            <h2>1000 جرام</h2>
            <h2>الكمية: 10</h2>
            <p>السعر: 400 ريال</p>
          </ion-item>
      </ion-list>
      <button ion-button full color="whatsapp">تم الإستلام</button>
</ion-content>
